/* Bottom info panel. */
div#BottomInfoPanel {
    top: 800px
}


/* Login box */
div#LoginDiv {
    position: relative;
    
    top: 320px;
    margin-left: auto;
    margin-right: auto;
    
    height: 200px;
    width: 30%;

    background-color: transparent;

    border-style: double;
    border-width: 5px;
    border-color: rgba(0, 0, 0, 0.5);

    text-align: center;
}

p#CreateAccountText {
    position: relative;
    top: -80px;
    width: 400px;

    margin: 0;
    margin-left: auto;
    margin-right: auto;

    font-family: monospace;
    font-size: 50px;

    text-align: center;

    color: white;

    border-style: double;
    border-width: 5px;
    border-color: rgba(0, 0, 0, 0.5);

    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.466);;

    user-select: none;
}

input.CreateAccountStringInput {
    position: relative;
    display: block;

    width: 65%;
    height: 15%;

    margin: 0;
    margin-left: auto;
    margin-right: auto;

    border: none;
    border-bottom: 2px solid rgb(143, 0, 136);

    color: white;
    background-color: transparent;

    font-family: monospace;
    font-size: xx-large;
}

input.CreateAccountStringInput::placeholder {
    color: rgb(122, 89, 153);
}

input.CreateAccountStringInput:focus {
    outline: none;
}

input#UsernameInput {
    top: -10%;
    
}

input#PasswordInput {
    top: 10%;
}